/* Description.css */

.description {
    display: flex;
    gap: var(--gap-between-element);
    justify-content: center;
    align-items: center;

    & > .description__text {
        max-width: 58ch;
        text-align: justify;
    }
}

.description--reverse {
    flex-direction: row-reverse;
}


@media screen and (max-width: 900px) {
    .description {
        flex-direction: column;

        & > .description__text {
            text-align: center;
        }
    }
}