/* general.css */
@import url("./navigation.css");
@import url("./variable.css");
@import url("./button.css");
@import url("./grid-menu.css");
@import url("./description.css");
@import url("./font.css");


:root {
    --margin-inline-section: 30px; 
    --margin-block-section: 90px;
    --fontsize-paragraph: clamp(18px, 2vw, 24px);
    --gap-between-element: 30px;
    --fontsize-h2: 48px;
    --fontsize-h3: 28px;
}

* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1920px;
    margin: auto auto;
}

.image-content {
    width: clamp(260px, 100%, 600px);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section:not(.map){
    margin-inline: var(--margin-inline-section);
    margin-block: var(--margin-block-section);
}







