@font-face {
    font-family: "Tusker";
    src: url(../fonts/tusker-grotesk-2600-semibold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h2 {
    font-family: Tusker;
    letter-spacing: 1px;
    font-size: var(--fontsize-h2);
}

h3 {
    font-family: Roboto, sans-serif;
    font-size: var(--fontsize-h3);
}

p {
    font-family: Roboto, sans-serif;
    font-size: var(--fontsize-paragraph);
}